body {
	margin-left: 10px;
}
h1 {
	margin-right: 10px;
	display: inline-block;
}
header .btn {
	margin-bottom: 10px;
}
#settings {
	margin-bottom: 10px;
}
#settings .input-prepend {
	margin-bottom: 0;
}
#more {
	display: none;
	margin-top: 10px;
}
#more .btn-primary {
	text-shadow: none;
}
#rover {
	float: left;
	margin-top: 10px;
}
#canvas {
	float: left;
	margin-right: 10px;
}
#upload {
	display: none;
}