#upload {
	display: none;
}
#settings {
	display: none;
	margin-top: 10px;
	margin-left: 10px;
}
header .input-prepend {
	margin-bottom: 0;
}
header {
	margin-left: 10px;
}
#rover {
	float: left;
	margin-top: 10px;
}
#canvas {
	float: left;
	margin: 10px;
}